## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
unq = application_df.nunique()
unq

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
atype = application_df['APPLICATION_TYPE'].value_counts()
atype

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(atype[atype < 400].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
csf = application_df['CLASSIFICATION'].value_counts()
csf

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C8210        1
C5200        1
C1732        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
ref= csf.head(45)
ref

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
C1260        3
C0           3
C2710        3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(csf[csf < 200].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
num = pd.get_dummies(application_df)
num

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = num['IS_SUCCESSFUL'].values
X = num.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
#Adding 3 more additional nodes

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

i_f = len(X_train_scaled[0])
h_n1 = 16
h_n2 = 16
h_n3 = 16
h_n4 = 16
h_n5 = 16

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=h_n1, activation='relu', input_dim=i_f))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=h_n2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=h_n3, activation='relu'))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=h_n4, activation='relu'))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=h_n5, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\krazy\.conda\envs\pythondata\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                736
_________________________________________________________________
dense_1 (Dense)              (None, 16)                272
_________________________________________________________________
dense_2 (Dense)              (None, 16)                272
_________________________________________________________________
dense_3 (Dense)              (None, 16)                272
_________________________________________________________________
dense_4 (Dense)              (None, 16)                272
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 17
=================================================================
Total params: 1,841
Trainable params: 1,841
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\krazy\.conda\envs\pythondata\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [17]:
# Train the model
f_m = nn.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5889 - acc: 0.6979
Epoch 2/30
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5562 - acc: 0.7267
Epoch 3/30
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5533 - acc: 0.7276
Epoch 4/30
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5512 - acc: 0.7303
Epoch 5/30
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5496 - acc: 0.7317
Epoch 6/30
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5492 - acc: 0.7310
Epoch 7/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5480 - acc: 0.7313
Epoch 8/30
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5479 - acc: 0.7331
Epoch 9/30
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5466 - acc: 0.73360s - loss: 0.5477 - acc: 0.73
Epoch 10/30
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5464 - acc: 0.73260s - loss: 0.5447 - acc:
Epoch 11/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5453 - acc: 0.7338
Epoch 12/30
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5459 - acc: 0.7332
Epoch 13/30
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5457 - acc: 0.7332
Epoch 14/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5450 - acc: 0.7328
Epoch 15/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5446 - acc: 0.7348
Epoch 16/30
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5440 - acc: 0.7341
Epoch 17/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5441 - acc: 0.7336
Epoch 18/30
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5440 - acc: 0.7329
Epoch 19/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5431 - acc: 0.73500s - loss: 0.5428 - acc: 0.735
Epoch 20/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5432 - acc: 0.73450s - loss: 0.5483 -
Epoch 21/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5432 - acc: 0.7348
Epoch 22/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5424 - acc: 0.73540s - loss: 0.5395 - acc: 0.7
Epoch 23/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5426 - acc: 0.7346
Epoch 24/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5425 - acc: 0.7341
Epoch 25/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5421 - acc: 0.7344
Epoch 26/30
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5418 - acc: 0.7353
Epoch 27/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5427 - acc: 0.7354
Epoch 28/30
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5414 - acc: 0.7358
Epoch 29/30
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5415 - acc: 0.7354
Epoch 30/30
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5406 - acc: 0.7351

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5535 - acc: 0.7301
Loss: 0.5534746609137288, Accuracy: 0.7301457524299622

In [19]:
# Export our model to HDF5 file
nn.save('Models/Alphabet2.h5')

In [ ]:
#Removing 1 Hidden Layer and increasing epochs

In [20]:
i_f = len(X_train_scaled[0])
h_n1 = 16
h_n2 = 16
h_n3 = 16
h_n4 = 16


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=h_n1, activation='relu', input_dim=i_f))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=h_n2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=h_n3, activation='relu'))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=h_n4, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 16)                736
_________________________________________________________________
dense_7 (Dense)              (None, 16)                272
_________________________________________________________________
dense_8 (Dense)              (None, 16)                272
_________________________________________________________________
dense_9 (Dense)              (None, 16)                272
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 17
=================================================================
Total params: 1,569
Trainable params: 1,569
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [22]:
f_m = nn.fit(X_train_scaled, y_train, epochs=35)

Epoch 1/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5848 - acc: 0.7096
Epoch 2/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5583 - acc: 0.7268
Epoch 3/35
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5541 - acc: 0.7273
Epoch 4/35
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5525 - acc: 0.7304
Epoch 5/35
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5505 - acc: 0.73060s - loss: 0.5528 - acc:
Epoch 6/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5496 - acc: 0.7308
Epoch 7/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5490 - acc: 0.7309
Epoch 8/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5478 - acc: 0.7312
Epoch 9/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5478 - acc: 0.7325
Epoch 10/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5466 - acc: 0.7332
Epoch 11/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5465 - acc: 0.7327
Epoch 12/35
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5462 - acc: 0.73150s - loss: 0.5459 - acc: 0.731
Epoch 13/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5458 - acc: 0.73240s - loss: 0.5481 -
Epoch 14/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5452 - acc: 0.73290s - loss: 0.5468 - acc: 0.
Epoch 15/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5449 - acc: 0.7346
Epoch 16/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5446 - acc: 0.7351
Epoch 17/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5444 - acc: 0.7331
Epoch 18/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5440 - acc: 0.7342
Epoch 19/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5438 - acc: 0.73360s - loss: 0.5441 - acc: 0.7
Epoch 20/35
25724/25724 [==============================] - ETA: 0s - loss: 0.5442 - acc: 0.733 - 1s 25us/sample - loss: 0.5431 - acc: 0.7339
Epoch 21/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5434 - acc: 0.7340
Epoch 22/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5426 - acc: 0.7344
Epoch 23/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5423 - acc: 0.7355
Epoch 24/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5423 - acc: 0.7343
Epoch 25/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5425 - acc: 0.73490s - loss: 0.5426 - acc:  - ETA: 0s - loss: 0.5395 - acc: 0
Epoch 26/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5425 - acc: 0.7341
Epoch 27/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5417 - acc: 0.73640s - loss: 0.5397 -
Epoch 28/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5422 - acc: 0.7343
Epoch 29/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5415 - acc: 0.73580s - loss: 0.5409 - acc: 0.7
Epoch 30/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5418 - acc: 0.7349
Epoch 31/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5416 - acc: 0.7344
Epoch 32/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5414 - acc: 0.73550s - loss: 0.5356 -
Epoch 33/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5416 - acc: 0.73640s - loss: 0.5408 - acc: 0.736
Epoch 34/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5411 - acc: 0.7360
Epoch 35/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5409 - acc: 0.7357

In [23]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5513 - acc: 0.7317
Loss: 0.5512794763423263, Accuracy: 0.7316617965698242

In [26]:
# Export our model to HDF5 file
nn.save('Models/Alphabet3.h5')

In [32]:
 #Further increasing Epochs

In [27]:
i_f = len(X_train_scaled[0])
h_n1 = 16
h_n2 = 16
h_n3 = 16
h_n4 = 32


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=h_n1, activation='relu', input_dim=i_f))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=h_n2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=h_n3, activation='relu'))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=h_n4, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 16)                736
_________________________________________________________________
dense_12 (Dense)             (None, 16)                272
_________________________________________________________________
dense_13 (Dense)             (None, 16)                272
_________________________________________________________________
dense_14 (Dense)             (None, 32)                544
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 33
=================================================================
Total params: 1,857
Trainable params: 1,857
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [29]:
f_m = nn.fit(X_train_scaled, y_train, epochs=40)

Epoch 1/40
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5843 - acc: 0.7060
Epoch 2/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5565 - acc: 0.7286
Epoch 3/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5525 - acc: 0.7293
Epoch 4/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5505 - acc: 0.7302
Epoch 5/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5489 - acc: 0.7307
Epoch 6/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5483 - acc: 0.7316
Epoch 7/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5471 - acc: 0.7308
Epoch 8/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5460 - acc: 0.7326
Epoch 9/40
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5465 - acc: 0.7326
Epoch 10/40
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5453 - acc: 0.7331
Epoch 11/40
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5452 - acc: 0.7335
Epoch 12/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5452 - acc: 0.7341
Epoch 13/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5441 - acc: 0.7346
Epoch 14/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5445 - acc: 0.7346
Epoch 15/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5435 - acc: 0.7340
Epoch 16/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5431 - acc: 0.7324
Epoch 17/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5432 - acc: 0.7345
Epoch 18/40
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5430 - acc: 0.7348
Epoch 19/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5428 - acc: 0.7331
Epoch 20/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5424 - acc: 0.7352
Epoch 21/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5425 - acc: 0.7357
Epoch 22/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5420 - acc: 0.7358
Epoch 23/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5415 - acc: 0.7359
Epoch 24/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5416 - acc: 0.7358
Epoch 25/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5411 - acc: 0.73660s - loss: 0.5400 - acc:
Epoch 26/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5414 - acc: 0.7363
Epoch 27/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5409 - acc: 0.7364
Epoch 28/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5405 - acc: 0.7360
Epoch 29/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5413 - acc: 0.7346
Epoch 30/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5410 - acc: 0.7378
Epoch 31/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5397 - acc: 0.7366
Epoch 32/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5403 - acc: 0.7349
Epoch 33/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5403 - acc: 0.7370
Epoch 34/40
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5401 - acc: 0.7358
Epoch 35/40
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5398 - acc: 0.73600s - loss: 0.5370
Epoch 36/40
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5399 - acc: 0.7346
Epoch 37/40
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5395 - acc: 0.7358
Epoch 38/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5394 - acc: 0.7359
Epoch 39/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5392 - acc: 0.7361
Epoch 40/40
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5396 - acc: 0.73670s - loss: 0.5396 - acc: 0.736

In [30]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5526 - acc: 0.7275
Loss: 0.5525962364013272, Accuracy: 0.7274635434150696

In [33]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('Models/AlphabetSoupCharity4.h5')

In [31]:
#Previous one was better so reverting changes and trying different activaton functions

In [34]:
i_f = len(X_train_scaled[0])
h_n1 = 16
h_n2 = 16
h_n3 = 16
h_n4 = 16


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=h_n1, activation='tanh', input_dim=i_f))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=h_n2, activation='tanh'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=h_n3, activation='tanh'))

# fourth hidden layer
nn.add(tf.keras.layers.Dense(units=h_n4, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 16)                736
_________________________________________________________________
dense_17 (Dense)             (None, 16)                272
_________________________________________________________________
dense_18 (Dense)             (None, 16)                272
_________________________________________________________________
dense_19 (Dense)             (None, 16)                272
_________________________________________________________________
dense_20 (Dense)             (None, 1)                 17
=================================================================
Total params: 1,569
Trainable params: 1,569
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [36]:
# Train the model
f_m = nn.fit(X_train_scaled, y_train, epochs=35)

Epoch 1/35
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5767 - acc: 0.7143
Epoch 2/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5573 - acc: 0.7255
Epoch 3/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5539 - acc: 0.7266
Epoch 4/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5517 - acc: 0.7277
Epoch 5/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5505 - acc: 0.7289
Epoch 6/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5494 - acc: 0.7297
Epoch 7/35
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5485 - acc: 0.7301
Epoch 8/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5479 - acc: 0.73100s - loss: 0.5758 - acc: 0.708 - ETA: 0s - loss: 0.5617 - a - ETA: 0s - loss: 0.5452 - acc: 0.73
Epoch 9/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5471 - acc: 0.73120s - loss: 0.5447 - acc:
Epoch 10/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5468 - acc: 0.7326
Epoch 11/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5460 - acc: 0.7304
Epoch 12/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5459 - acc: 0.7320
Epoch 13/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5447 - acc: 0.7314
Epoch 14/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5443 - acc: 0.7331
Epoch 15/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5443 - acc: 0.7328
Epoch 16/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5441 - acc: 0.73240s - loss: 0.5471 -
Epoch 17/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5435 - acc: 0.73250s - loss: 0.5507 -
Epoch 18/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5438 - acc: 0.7319
Epoch 19/35
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5425 - acc: 0.7332
Epoch 20/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5430 - acc: 0.7339
Epoch 21/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5422 - acc: 0.7343
Epoch 22/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5420 - acc: 0.73290s - loss: 0.5364 - acc:  - ETA: 0s - loss: 0.5435 - acc: 0
Epoch 23/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5416 - acc: 0.7341
Epoch 24/35
25724/25724 [==============================] - ETA: 0s - loss: 0.5419 - acc: 0.734 - 1s 25us/sample - loss: 0.5421 - acc: 0.7344
Epoch 25/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5414 - acc: 0.7353
Epoch 26/35
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5408 - acc: 0.7356
Epoch 27/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5408 - acc: 0.7350
Epoch 28/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5408 - acc: 0.7348
Epoch 29/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5405 - acc: 0.73630s - loss: 0.5193 -
Epoch 30/35
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5402 - acc: 0.73580s - loss: 0.5454 - acc: 0.732 - ETA: 0s - loss: 0.5390 -
Epoch 31/35
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5402 - acc: 0.7357
Epoch 32/35
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5399 - acc: 0.7362
Epoch 33/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5400 - acc: 0.73550s - loss: 0.5427 - a
Epoch 34/35
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5399 - acc: 0.7363
Epoch 35/35
25724/25724 [==============================] - ETA: 0s - loss: 0.5395 - acc: 0.736 - 1s 25us/sample - loss: 0.5394 - acc: 0.7369

In [37]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5528 - acc: 0.7314
Loss: 0.5527676092639956, Accuracy: 0.7314285635948181

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('Models/AlphabetSoupCharity4.h6')